doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Về Chúng Tôi
    link(rel='stylesheet', href='css/main.css')
  body
    main
      section.about-content
        h2 Về Chúng Tôi
        p Video giới thiệu về tổ chức của chúng tôi
        iframe(
          width='800', 
          height='450', 
          src='https://www.youtube.com/embed/UYmvFzDuO5k?autoplay=1&playsinline=1', 
          title='Video giới thiệu YouTube', 
          frameborder='0', 
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', 
          referrerpolicy='strict-origin-when-cross-origin', 
          allowfullscreen
        )

    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js")
    script.
      new fullpage('#fullpage', {
        autoScrolling: true,
        onLeave: function(origin, destination, direction){
          if (direction === 'down') {
            window.location.href = 'about/'; 
          }
        }
      });