main
  head
  section.about-content-wrapper(style="padding: 20px;") 
    h2.animate-text Về Chúng Tôi
    p.subtitle.animate-text-delay Video giới thiệu về tổ chức của chúng tôi

    iframe#youtube-player( // ID này rất quan trọng
      class='video-intro',
      width='745', 
      height='420', 
      src='https://www.youtube.com/embed/KJwYBJMSbPI?autoplay=1', 
      title='Video giới thiệu YouTube', 
      frameborder='0', 
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', 
      referrerpolicy='strict-origin-when-cross-origin', 
      allowfullscreen
    )

    .video-controls
      button(onclick="playVideo()") Phát Video
      button(onclick="pauseVideo()") Tạm Dừng
      button(onclick="stopVideo()") Dừng hẳn
      button(onclick="muteVideo()") Tắt tiếng
      button(onclick="unMuteVideo()") Bật tiếng
